@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --rosasugar: #FF748C;
  --roxosugar: #9747FF;
  --verdedesconto: #7AFB78;
  --lightazul: #8ECAE6;
  --darkazul: #023047;
}

*{
  padding: 0px;
  margin: 0px;
}
.ralewayfont {
  /*Para configurar a fonte*/
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/*Configurando a caixa de texto*/
input[type=text] {
	appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid var(--rosasugar);
	background: transparent; /* ou rgba(233, 30, 99, 0.2); */
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: var(--rosasugar);
	font-size: 12pt;
}
label {
	display: block;
	margin-bottom: 0.5em;
	color: var(--rosasugar);
	font-weight: 400;
	font-size: 9pt;
}
input[type=text]::placeholder {
  color: white;
}
/*Header*/
.menuitem{
  list-style-type: none;
  font-size: 26pt;
  padding-left: 10px;
  margin: 10px;
}
.menuitem a{
  color: white;
  text-decoration: none;
}
.menu{
  display: flex;
}
#barramenu{
  border-left: 1px solid white;
}
header{
  background-color: var(--roxosugar);
  color: white;
  display: flex;
  height: 10%;
}
header>h1{
  font-size: 30pt;
}
main{
  display: flex;
  flex-direction: column;
}
/*Seção 1*/
#sec1{
  color: var(--rosasugar);
  font-size: 36pt;
}
#sec1 h2{
  font-size: 27pt;
}
/*Seção 2*/
#sec2{
  background-color: var(--rosasugar);  
  display: flex;
}
.cupitem{
  padding: 2em;
  background-color: white;
  border-radius: 5px;
}
.discount{
  padding: 2em;
  background-color: var(--verdedesconto);
  border-radius: 5px;
}
/*Seção 3*/
.inputitem{
  display: block;
}
.inputbox{
  display: flex;
}
#sec3 div{
  background-color: var(--darkazul);
}
